* {
    box-sizing: border-box;
}

body {
    font-family: fantasy, sans-serif;
    background-color: #eee;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    top: 0;
    padding: 15px;
    width: 100%;
}

#img-header {
   max-width: 300px;
   width: 100%;
   height: 100%;
   padding: 15px;
}

#nav-bar {
    display: flex;
    padding-right: 15px;
}

.nav-link {
    padding: 15px;
    padding-right: 40px;
    text-decoration: none;
    color: #000;
}