* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

h2 {
    font-weight: 600;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    top: 0;
    padding: 15px;
    width: 100%;
}

#img-header {
   max-width: 300px;
   width: 100%;
   height: 100%;
   padding: 15px;
}

#nav-bar {
    display: flex;
    padding-right: 15px;
}

.nav-link {
    padding: 15px;
    padding-right: 40px;
    text-decoration: none;
    color: #000;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 25px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    text-align: left;
    padding: 5px;
    width: 270px;
}

#submit {
    width: 150px;
    margin: 10px;
    height: 30px;
}

.btn {
    font-weight: 900;
    font-size: inherit;
    text-transform: uppercase;
    background-color: rgb(245, 215, 45);
    border: none;
    transition: 0.8s;
}

.btn:hover {
    background-color: orange;
    cursor: pointer;
}

.icon {
    color: orange;
    font-size: 50px;
    display: flex;
    min-width: 60px;
    align-items: center;
    justify-content: center;
}

#features {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 80vw;
  padding: 5px;
  margin-top: 30px;
}

.box {
    display: flex;
    margin-bottom: 10px;
}

.desc {
    margin: auto 70px;
    align-items: center;
    text-align: justify;
}

.desc p {
    margin-top: 0;
}

.desc h2  {
    margin-bottom: 1px;
}

#how-it-works {
    margin-top: 30px;
}

#video {
    display: flex;
    margin: 0 auto;
}